#advantage
  padding-top: 50px
  margin-top: 35px
  background-image: url('../../images/bg-2_1.png')
  background-size: cover 
.conv-block 
  padding-top: 70px
  display: block
  width: 75% 
  font-size: 0
  margin: 0 auto
  @media screen and (max-width: 950px)
    padding-top: 30px
    width: 95%
  .conv-items
    display: inline-block
    width: 50%
    font-size: 16px
    color: #fff
    padding-bottom: 150px
    @media screen and (max-width: 950px)
      padding-bottom: 50px
      display: block 
      width: 100%
      text-align: center
      .wrapper
        margin: 0 20px
        overflow-x: hidden
    &:nth-child(even)
      text-align: right
      @media screen and (max-width: 950px)
        text-align: center
    @media screen and (max-width: 950px)
      img
        margin-bottom: 20px
    img, .conv-item-t
      display: inline-block
      vertical-align: top
    .conv-item-t
      text-align: left
      margin-left: 10px
      @media screen and (max-width: 950px)
        text-align: center
      .title
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 17px
        color: #FFFFFF
        margin-bottom: 20px
      .s_title
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 17px
        color: #FFFFFF




.conv-buttons
  width: 100%
  text-align: center
  display: block 
  font-size: 0
  padding-bottom: 25px
  @media screen and (min-width: 950px)
    display: none 
  div
    display: inline-block
    font-size: 16px
    width: 50%
    text-align: center
  button
    width: 40px
    background: #D6002E
    border-radius: 10px
    padding: 2px 5px
    display: inline-block
    border: none

