nav
  position: fixed
  top: 0
  left: 0
  width: 5%
  height: 100%
  background-color: $red
  text-align: center
  z-index: 2
  @media screen and (max-width: 950px)
    width: 70px
    background-color: transparent
    height: 20%
    & > div:not(.burger)
      display: none  
  .burger
    cursor: pointer
    font-weight: bold
    padding-top: 10px
    @media screen and (max-width: 950px)
      display: none
      background-color: $red
      padding-bottom: 20px
  .nav-socials
    top: 35% 
    li
      margin-bottom: 5px
    .text
      white-space: nowrap
      div
        font-weight: bold 
      text-align: left
      position: absolute  
      bottom: -50px
      right: 65%
      font-size: 14px
      line-height: 11px
      color: #0D0D0D
      transform: rotate(-90deg)
      transform-origin: 100% 0
      font-weight: bold
  .go-down, .go-top
    position: absolute
    width: 100%
    bottom: 10px
    text-align: center
    @media screen and (max-width: 950px)
      display: none!important
    .text
      white-space: nowrap
      position: absolute  
      bottom: 200px
      right: 55%
      font-size: 14px
      line-height: 11px
      color: #0D0D0D
      transform: rotate(-90deg)
      transform-origin: 100% 0
      font-weight: bold
  .go-top
    bottom: -5%
    .img
      position: absolute
      left: 0 
      width: 100%
      text-align: center
      top: -275px


.m-block
  position: relative
  width: 100%
  height: 100vh
  background-color: #0D0D0D
  overflow: hidden
  z-index: 1
  @media screen and (max-width: 950px)
    height: auto
    min-height: 100vh
    overflow: inherit 
  &-w
    position: relative
    width: 90%
    height: 100%
    margin-left: 10%

    @media screen and (max-width: 950px)
      margin: 0 auto

  &-w-t
    position: absolute
    top: 0
    left: 0
    width: 90%
    display: block
    font-size: 0
    @media screen and (max-width: 950px)
      width: 100%
    .w-t-l, .w-t-r
      font-size: 16px
      vertical-align: middle   
      display: inline-block
      width: 50%
    .w-t-l
      @media screen and (max-width: 950px)
        width: 100%
        text-align: center
    .w-t-r
      text-align: right 
      .contacts
        position: relative
        font-style: normal
        font-weight: normal
        font-size: 18px
        color: #FFFFFF
        .contacts-wrapper
          position: absolute
          right: 0
          text-align: left
          @media screen and (max-width: 950px)
            display: none
        a 
          color: #D6002E
          font-weight: bold
  
  .m-block-c
    top: 55%
    @media screen and (max-width: 950px)
      position: static
      transform: none
      text-align: center
    .title
      font-style: normal
      font-weight: bold
      font-size: 35px
      line-height: 40px
      color: #fff
      @media screen and (max-width: 950px)
        padding-top: 100px
        font-size: 30px
        line-height: 30px
        .br
          display: none
      span:not(.br)
        color: #D6002E
    .sub_title
      margin-top: 30px
      margin-left: -25px
      @media screen and (max-width: 950px)
        margin-left: 0
      li
        margin: 10px
        @media screen and (max-width: 950px)
          text-align: center
        .img
          text-align: center
          width: 130px
          @media screen and (max-width: 950px)
            width: auto
            max-width: 80%
            margin: 0 auto

        .img, .text
          display: inline-block
          vertical-align: middle
          @media screen and (max-width: 950px)
            display: block
        img
          margin-right: 10px
          @media screen and (max-width: 950px)
            display: inline
        .text
          font-style: normal
          font-weight: normal
          font-size: 20px
          line-height: 19px
          color: #FFFFFF
  
  .modal-btn
    margin-top: 30px
    @media screen and (max-width: 950px)
      padding-bottom: 30px
    button
      font-style: normal
      font-weight: bold
      font-size: 22px
      align-items: center
      text-align: center
      color: #FFFFFF
      border: none
      background-color: $red
      padding: 20px
      color: #fff
      text-align: center
      border-radius: 10px
      
  .m-block-r
    position: absolute
    left: 40%
    top: 0
    width: 55%
    height: 120%
    right: auto
    .inner-block
      width: 100% 
      height: 100%
      background-size: cover
      background-image: url('../../images/phone.png')
    @media screen and (max-width: 950px)
      display: none

.r-gift
  position: absolute
  top: 25%
  height: 100%
  right: 5%
  z-index: 5
  @media screen and (max-width: 950px)
    display: none
  .text
    white-space: nowrap
    color: #ffffff
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 15px
    text-align: center
    color: #FFFFFF
    background: #D6002E
    border-radius: 10px 10px 0 0 
    padding: 30px 35px
    transform: rotate(-90deg)
    transform-origin: left top