#contacts
  position: relative
  overflow-y: hidden
  .contact-r
    position: absolute
    top: 20%
    right: 0
    @media screen and (max-width: 950px)
      position: static 
    iframe
      position: absolute
      right: 31px
      top: 29px
      width: 465px
      height: 655px
      border-radius: 10px
      @media screen and (max-width: 950px)
        // display: none
        position: static
        width: 100%
        height: 350px
    img
      width: 440px
      height: 600px
      width: 640px
      height: 712px
      @media screen and (max-width: 950px)
        display: none
  .contact-l
    @media screen and (max-width: 950px)
      text-align: center
    ul
      li
        display: block
        margin: 20px 0
        font-style: normal
        font-size: 16px
        line-height: 20px
        &:nth-child(odd)
          font-weight: bold
          color: #D6002E
        &:nth-child(even)
          color: #fff
        a
          display: block
          font-style: normal
          font-size: 16px
          line-height: 20px
          color: #fff
          font-weight: normal
          margin: 10px 0
          &:hover
            text-decoration: underline
            font-weight: bold
            color: #D6002E
  form
    .form-g
      margin: 15px 0
      width: 300px
      @media screen and (max-width: 950px)
        width: 100%
    input
      width: 100%
      background: rgba(255, 255, 255, 0.4)
      border-radius: 10px
      border-color: none
      color: #fff
      padding: 15px 0
    button
      width: 101%
      padding: 10px 0
      border: none
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      color: #FFFFFF
      background: #D6002E
      border-radius: 10px


.cont-gift
  display: inline
  text-align: center
  .text
    display: inline-block
    text-align: center
    font-style: normal
    font-weight: 800
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
    span
      color: #D6002E
  img
    margin-top: 20px
    margin-bottom: 20px
  form
    text-align: center
    display: inline-block
    @media screen and (max-width: 950px)
      display: block
      .form-g
        button
          width: 85%
  &.desk
    display: inline
    @media screen and (max-width: 950px)
      display: none 
  &.mob
    display: none
    @media screen and (max-width: 950px)
      display: block 
      margin-top: 30px
      text-align: center


#contacts .contact-l 
  .cont-gift
    form .form-g
      margin-left: 25px

