.gallery-b-a
  .twentytwenty-container
    background-color: $black

  
#gallery
  margin: 50px 0
  overflow-x: hidden
  .m-title
    margin-bottom: 50px 
  .gallery-btns
    right: 0   
    @media screen and (max-width: 950px)
      display: none 
    div
      width: 180px
      text-align: center
      padding: 10px 0
      margin: 15px 0
      background: #D6002E
      border-radius: 10px
      font-size: 14px
      line-height: 19px
      text-align: center
      color: #FFFFFF
      font-weight: bold
      background-color: $red
      border-radius: 10px


.twentytwenty-after-label:before 
  content: "После"

.twentytwenty-before-label:before 
  content: "До"
