.m-body
  height: 100vh
  width: 100vw
  overflow: hidden
  background-size: cover
  header
    position: absolute
    top: 15px
    left: 0
    width: 100%
    display: block
    font-size: 0
    transition: all 0.7s
    @media screen and (max-width: 950px)
      top: 18px
      &.active-m
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 99
        background-color: #111
        .logo
          position: absolute
          top: 15px
          img
            max-width: 75%
        nav
          width: 100%
          display: block
          padding-top: 80px
          a
            font-size: 25px
            line-height: 40px
            width: 100%
            text-align: center
            display: block
        .phone 
          display: block
          text-align: center
          width: 100%
          font-size: 25px
          margin-top: 50px
    .logo, nav, .phone
      display: inline-block
      vertical-align: middle
      font-size: 16px
      img
        max-width: 100%
    .logo, .phone
      width: 15%
      @media screen and (max-width: 950px)
        width: 50%
    .logo
      img
        max-width: 75% 
      @media screen and (max-width: 950px)
        text-align: left
        img
          max-width: 60%
    nav
      width: 70%
      @media screen and (max-width: 950px)
        display: none

      div
        display: table
        width: 100%
      a 
        display: table-cell
        vertical-align: middle
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 21px
        color: #FFFFFF
        color: #fff
    .phone
      @media screen and (max-width: 950px)
        text-align: left
        display: none
        a 
          font-size: 16px
      a
        display: block
        color: #fff
        font-style: normal
        padding: 5px 0
        font-weight: bold
        font-size: 18px
        line-height: 18px
        color: #FFFFFF

#m-page
  .m-page-b
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    text-align: center
    @media screen and (max-width: 950px)
      top: 55%
    .title
      width: 80%
      margin: 0 auto
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 47px
      text-align: center
      color: #FFFFFF  
      margin-bottom: 30px
      @media screen and (max-width: 950px)
        font-size: 20px
        line-height: 22px
    .sub_title
      margin-top: 30px
      width: 80%
      margin: 0 auto
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 35px
      text-align: center
      color: #FFFFFF
      @media screen and (max-width: 950px)
        font-size: 15px
        line-height: 15px
    .m-page-buttons
      margin-top: 50px
      @media screen and (max-width: 950px)
        text-align: center
        display: block
        width: 100% 
      a
        text-decoration: none
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 21px
        color: #FFFFFF
        background-color: transparent
        border: none
        padding: 15px 26px
        border-radius: 10px
        @media screen and (max-width: 950px)
          padding: 5px 10px
          display: inline
          font-size: 14px
          display: block
          width: 80%
          margin: 15px auto
        &:first-child
          background: #402977
          margin-right: 100px
          @media screen and (max-width: 950px)
            margin-right: auto
        &:last-child
          background: #25D366

#tim-d-c
  font-style: normal
  font-weight: bold
  font-size: 30px
  line-height: 35px
  text-align: center
  color: #FFFFFF
  margin-bottom: 50px
  @media screen and (max-width: 950px)
    line-height: 20px
    font-size: 22px
    

@media screen and (min-width: 950px)
  .burger-menu
    display: none


.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before
  content: 'Дней'

.flipdown
  margin: 0 auto
  margin-bottom: 30px

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before
  content: "Часов"
.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before
  content: "Минут"
.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before
  content: "Секунд"


#modal-nav
  position: fixed
  top: 0
  left: -100%
  overflow-x: hidden
  width: 100%
  background-color: rgba(0,0,0,1)
  height: 100%
  z-index: 99999
  transition: all 0.7s
  &.active
    left: 0
  .cross
    position: absolute
    top: 30px
    right: 30px
    color: #ffffff
    font-weight: bold
    font-size: 30px
    cursor: pointer
    z-index: 1
  .modal-list
    @media screen and (max-width: 950px)
      text-align: center 
      width: 100%
    li
      color: #fff  
      text-align: left 
      line-height: 40px
      font-size: 32px
      cursor: pointer
      @media screen and (max-width: 950px)
        text-align: center 
        width: 100%
      &:hover
        font-weight: bold
        color: red
  .logo 
    padding-top: 5%
  .nav-contet
    position: relative
    text-align: left
    padding-left: 5%
    height: 100%
    @media screen and (max-width: 950px)
      width: 100%
      text-align: center
  .modal-socials
    position: absolute
    bottom: 15px
    @media screen and (max-width: 950px)
      width: 100%
      text-align: center
    a
      margin-right: 20px
      display: inline-block
