$grey: #F2F2F2
$d_grey: #9EA0A5
$dark: #212529
$black: #0D0D0D
$red: #D6002E


@import 'header'
@import 'contacts'
@import 'gallery'
@import 'block'
@import 'reviews'
@import 'quiz'
@import 'advantage'
@import 'popup'


@media screen and (max-width: 950px)
  .row
    margin-left: 0

body
  background-color: $black

* 
  margin: 0
  padding: 0 

a 
  text-decoration: none

* 
  font-family: 'Gotham Pro', sans-serif

.m-title
  padding-top: 40px
  width: 100%
  text-align: center
  font-weight: 800
  font-size: 30px
  line-height: 41px
  text-align: center
  color: #D6002E
  span
    color: #fff

.under
  text-decoration: underline

.del-03
  animation-delay: 0.3s
.del-05
  animation-delay: 0.5s
.del-07
  animation-delay: 0.7s
.del-09
  animation-delay: 0.9s
.del-11
  animation-delay: 1.1s

.container
  width: 90%
  margin: 0 auto

button
  cursor: pointer

ul
  list-style-type: none


#modal-d
  position: fixed
  top: 0
  left: 0
  display: none
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  z-index: 999999999
  .content
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    color: #fff
    font-size: 48px
    span
      position: absolute
      margin-left: 10px 

.go-top
  cursor: pointer
  display: none


.in-2
  width: 20%
  @media screen and (max-width: 950px)
    width: 95%
.in-3
  width: 30%
  @media screen and (max-width: 950px)
    width: 95%
.in-33
  width: 33.3%
  @media screen and (max-width: 950px)
    width: 95%
.in-4
  width: 40%
  @media screen and (max-width: 950px)
    width: 95%
.in-5
  width: 50%
  @media screen and (max-width: 950px)
    width: 95%
.in-6
  width: 60%
  @media screen and (max-width: 950px)
    width: 95%
.in-7
  width: 70%
  @media screen and (max-width: 950px)
    width: 95%
.in-8
  width: 80%
  @media screen and (max-width: 950px)
    width: 95%
.in-9
  width: 90%
  @media screen and (max-width: 950px)
    width: 95%
.in-100
  width: 100%
  @media screen and (max-width: 950px)
    width: 95%
.in-25
  width: 25%
  @media screen and (max-width: 950px)
    width: 95%

.border_bottom 
  border-bottom: 1px solid #E4E7EB



.img-modal-l
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 9999
  .wrapper
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 100%
    margin-right: -50%
    transform: translate(-50%, -50%) 
    text-align: center 
    background-color: rgba(0,0,0,0.5)
    img
      max-height: 80%
      max-width: 80%
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%) 
      text-align: center 



.modal-img
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100% 
  background-color: rgba(0,0,0,0.5)
  z-index: 2
  .wrapper
    width: 100%
    height: 100%
    text-align: center
    img
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)
      max-width: 80%
      max-height: 80%



.center-v-block
  margin: 0
  position: absolute
  top: 50%
  transform: translateY(-50%)

.al-ct-ab
  width: 100%
  text-align: center

.center-block
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
