#popup
  position: fixed
  z-index: 99999999999
  left: 50%
  top: -100%
  transform: translate(-50%, -50%)
  transition: all 1.2s
  &.active
    top: 50%
  .popup
    width: 833px
    @media(max-width: 960px)
      width: auto
    &-head
      width: 100%
      height: 45px
      background-color: #d6002e
      &_btn
        width: 45px
        height: 45px
        float: left
        display: flex
        font-weight: bold
        justify-content: center
        align-items: center
        font-size: 20px
        color: #ffffff
        border-bottom: 2px solid #fff
        font-family: montserratblack
        background-color: #242424
        cursor: pointer
        @media(max-width: 960px)
          border-bottom: none
    &-body
      width: 100%
      display: flex
      align-items: stretch
      // border-bottom: 40px solid #242424
      &_left
        display: flex
        align-items: stretch
        margin-bottom: 0
        .line
          width: 45px
          background-color: #242424
          margin-right: -1px
          @media(max-width: 960px)
            display: none
        &_form
          width: 345px
          background-color: #fff
          padding: 26px 41px 33px 0
          text-align: center
          @media(max-width: 960px)
            width: 320px
          h2
            color: #292929
            font-size: 26px
            font-weight: 700
            line-height: 20px
            @media(max-width: 960px)
              font-size: 24pxs
          p
            color: #292929
            font-size: 14px
            font-weight: 700
            line-height: 20px
            margin-top: 26px
            @media(max-width: 960px)
              font-size: 16px
          div
            padding-bottom: 14px
            display: flex
            margin-top: 31px
            margin-left: 30px
            span
              display: inline-block
              width: 14px
              height: 14px
            img
              display: inline-block
              width: 14px
              height: 14px
              mask-image: linear-gradient(black 0%, transparent 100%)
            .fa
              color: #262626
              margin-left: -15px

            input
              width: 100%
              padding: 0
              margin: 0
              font-size: 16px
              font-weight: 700
              line-height: 20px
              border: none
              outline: none
              color: #212330
              background: transparent
              padding-bottom: 10px
              border-bottom: 2px solid #262626
              &::placeholder
                color: #212330
              &:focus::placeholder
                color: #d6002e
                opacity: 1
              &:focus ~ .fa, &:active ~ .fa
                color: #d6002e
              &:focus, &:active
                border-bottom-color: #262626

          button
            padding: 20px 51px 17px
            color: #fff
            font-size: 16px
            font-weight: 700
            line-height: 20px
            margin-top: 49px
            cursor: pointer
            border: none
            background-color: #d6002e
      &_right
        width: 100%
        background-image: url('../../images/form_bg.png')
        background-size: cover
        img 
          position: absolute
          bottom: 3px
          right: 0
          background-color: #fff
          padding: 20px 10px 
          width: 164px
          height: auto
        @media(max-width: 960px)
          display: none
