#quiz 
  margin-bottom: 50px
.quiz-block
  color: #fff
  .quiz-header
    margin-bottom: 20px
    @media screen and (max-width: 950px)
      display: none
  .quiz-header-l
    display: inline-block
    color: #fff
    vertical-align: middle
  .quiz-header-l
    position: relative
    .text
      font-weight: bold
      color: #D6002E
    .nums
      padding-right: 10px
      div
        display: inline-block
        &:first-child
          font-weight: bold
          font-size: 36px
        &:last-child
          font-size: 12px


.quiz-blocks
  margin-top: 50px
  display: block
  font-size: 0
  .quiz-b-i
    width: 33.3%
    font-size: 16px
    vertical-align: middle
    display: inline-block
    @media screen and (max-width: 950px)
      width: 100%
  .quiz-b-i
    color: #111
    text-align: center
    @media screen and (max-width: 950px)
      margin-bottom: 80px
    &:nth-child(-n+3)
      margin-bottom: 80px
      @media screen and (max-width: 950px)
        margin-bottom: 80px
    .wrapper
      position: relative
      height: 250px
      background-color: #fff
      margin: 0 20px
      border-radius: 10px
    .quiz-b-b
      position: absolute
      bottom: 0
      left: 0 
      width: 100%
    .quiz-img
      margin-bottom: 20px
      img 
        margin-top: -50px
  .quiz-b-check
    margin: 15px 0
    img
      &:last-child
        display: none
  .quiz-b-button
    padding-bottom: 15px
    button
      background: #CECECE
      border-radius: 10px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 11px
      text-align: center
      color: rgba(255, 255, 255, 0.7)
      border: none
      padding: 15px 0
      width: 90%
      display: block
      margin: 0 auto


.quiz-block
  display: block
  font-size: 0
  margin-top: 50px
  .quiz-header,
  .quiz-content
    font-size: 16px
    display: inline-block
    vertical-align: top
  .quiz-header
    width: 11%
    text-align: center 
    @media screen and (max-width: 950px)
      width: 100%
    width: 11%
    .text
      font-weight: bold 
      font-size: 20px
      margin-bottom: 20px
    .nums
      div
        &:first-child
          color: #D6002E
          font-size: 30px
          line-height: 29px
          text-align: center
          color: #D6002E
  .quiz-content
    position: relative
    width: 89%
    font-size: 0
    .quiz-b-l
      position: absolute
      bottom: 10px
      left: -8%
      width: 11%
      text-align: left
      display: none
      @media screen and (max-width: 950px)
        display: none!important
      button
        position: relative
        width: 40px
        background: #D6002E
        border-radius: 10px
        padding: 2px 5px
        display: inline-block
        border: none
    @media screen and (max-width: 950px)
      margin: 0 auto
      width: 100%


.quiz-content
  position: relative
  width: 100%
  display: block
  font-size: 0
  // overflow-x: hidden
  img 
    display: inline
  .quiz-slider 
    width: 73%
    @media screen and (max-width: 950px)
      width: 100%
  .quiz-blocks, .quiz-bl-des  
    display: inline-block
    vertical-align: top
  .quiz-blocks
    position: relative
  .quiz-bl-des
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 25%
    font-size: 16px
    background: #D6002E
    padding: 15px
    border-radius: 10px
    @media screen and (max-width: 950px)
      position: static
      margin: 0 auto
      margin-top: 20px
      width: 100%
      text-align: center
    ul
      li
        margin-bottom: 30px
        div
          line-height: 20px 
          &:first-child
            font-style: normal
            font-weight: normal
            font-size: 14px
            color: #FFFFFF
          &:last-child
            font-style: normal
            font-weight: normal
            font-size: 14px
            font-weight: bold
            color: #111
    button
      position: absolute
      bottom: 15px
      left: 5%
      display: block 
      width: 90%
      margin: 0 auto
      padding: 20px 10px
      border: none
      background: #FFFFFF
      border-radius: 10px
      @media screen and (max-width: 950px)
        position: static

  .quiz-b-t
    font-size: 20px
    font-weight: bold
    margin-bottom: 10px


.quiz-block
  .quiz-b-i
    &:hover 
      .quiz-b-t
        color: #D6002E
      .quiz-b-check
        img 
          &:last-child
            display: inline
          &:first-child 
            display: none
      .quiz-b-button button
        background-color: #D6002E
        color: rgba(255, 255, 255, 0.7)

.quiz-form
  .quiz-sel
    position: relative
    width: 100%
    margin-bottom: 20px
    .quiz-t
      background-color: #fff
      width: 100%
      border-radius: 10px
      height: 50px
      padding: 15px 
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 13px
      color: #000000
    &:hover
      ul
        display: block
    ul 
      display: none
      position: absolute
      top: 32px
      left: 0
      width: 100%
      height: 200px
      background-color: #fff
      overflow-x: hidden
      border-radius: 10px
      li
        padding: 10px
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 13px
        color: #000000
  textarea 
    width: 100%
    height: 250px
    margin-bottom: 10px
    resize: none
    &, &::placeholder
      font-style: normal
      font-weight: 500
      padding: 10px
      font-size: 14px
      line-height: 13px
      color: #000000
      border-radius: 10px
  input
    width: 100%
    height: 50px
    margin: 10px 0
    &, &::placeholder
      background-color: #fff
      border-radius: 10px
      padding: 15px 
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 13px
      color: #000000

