#reviews
  .reviews-slider
    margin-top: 50px
    width: 110%
    @media screen and (max-width: 950px)
      width: 100%


.reviews-slider
  .img_c
    display: inline-block
    z-index: 1
    width: auto
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    @media screen and (max-width: 950px)
      position: relative
      top: auto
      left: auto
      margin-right: 0
      transform: none
    &:hover
      .bg
        opacity: 0
    .bg
      position: absolute
      width: 100% 
      height: 100%
      left: 0 
      top: 0
      background-color: rgba(0,0,0,0.5)
      z-index: 2
      transition: all 0.7s
  .wrapper
    height: 500px
    position: relative
    margin: 0 20px
    text-align: center
    cursor: pointer
    @media screen and (max-width: 950px)
      display: block
      height: auto
    img
      display: inline
      max-width: 100%
      max-height: 100%

.review-sl-cont
  width: 100%
  overflow-x: hidden


.review-btns
  width: 90%
  text-align: right
  margin: 35px 0
  button 
    width: 40px
    background: #D6002E
    border-radius: 10px
    padding: 2px 5px
    display: inline-block
    border: none
    &:first-child
      margin-right: 15px
