@media screen and (min-width: 950px) {
    .description {
        bottom: 30px;
    }

}
@media screen and (max-width: 950px) {
    .description {
        bottom: 30px;
    }
    .description .right .title {
        margin-bottom: 20px;
    }
}
