#agen_programm .content{padding-left:30px}@media screen and (max-width: 950px){#agen_programm .content{padding-left:0}}#agen_programm .content p{font-style:normal;font-size:16px;line-height:20px;color:#fff;margin-bottom:15px}#agen_programm .content p:last-child{margin-bottom:65px}#agen_programm .content p span{font-weight:bold;color:#EB0E0E}#agen_programm .sub_title{margin-top:25px;margin-bottom:40px;font-style:normal;font-weight:bold;font-size:16px;line-height:16px;color:#fff}#agen_programm button{border:none;background:#EB0E0E;font-style:normal;font-family:Muller;font-weight:bold;font-size:16px;line-height:16px;text-align:center;color:#fff;padding:17px 80px;margin-bottom:20px}
/*# sourceMappingURL=parnter.css.map */
